.cache/
.conda/
.config/
.dotnet/
.empty/
.git/
.ipython/
.jupyter/
.local/
.nv/
.vscode-server/
build/
basecode/
code/__pycache__/
code/.ipynb_checkpoints/
dacon/
data/
output/
results/
.profile
.wget-hsts
nohup.out